@use "sass:math";
@use "sass:color";

window#cliplauncher .cliplauncher {
    @include floating_widget;

    entry {
        @include button;
        padding: $padding;
        margin: $spacing;

        selection {
            color: color.mix($fg, $bg, 50%);
            background-color: transparent;
        }

        label,
        image {
            color: $fg;
        }
    }

    separator {
        margin: 4pt 0;
        background-color: $popover-border-color;
    }

    .preview {
        padding: 10px;

        .preview-content {
            padding: 10px;
        }
    }

    button.cliphist-item {
        >box {
            @include spacing(0.5);
        }

        transition: $transition;
        padding: $padding;

        label {
            transition: $transition;

            &.truncated {
                color: $fg;
            }

        }
        &:hover,
        &:focus {
            .truncated {
                color: $primary-bg;
            }
        }

        &:active {
            border-radius: $radius;
            box-shadow: inset 0 0 0 $border-width $border-color;

            .title {
                color: $fg;
            }
        }
    }

}
